body {
  background-image: url("assets/freedom.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
}

main {
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-family: 'Julius Sans One', sans-serif;
  margin: 0;
  padding: 10rem;
}

p {
  font-size: 2rem;
  font-family: 'Crimson Text', sans-serif;
  margin: 0;
  padding: 10rem; 
}